{{ define "body" }}
<section class="hero">
  {{ partial "landing.html" "" | safeHTML }}
</section>


<section class="section has-background-info has-text-left pb-0">
  <div class="block px-3">
    <h1 class="title is-1">Portfolio</h1>
    <p class="subtitle is-4">Project Spotlights, Blog posts from the team</p>
  </div>
  <div class="has-text-centered py-4">
    <a href="#posts" class="title is-2 fas fa-chevron-down has-text-white"></a>
  </div>
</section>
<section id="posts" class="container is-widescreen">
  <div style="float: right">
    <p class="is-size-5 m-3">
      <a href="/portfolio/atom.xml">[feed]</a>
    </p>
  </div>
  <div class="section">
    <div class="columns is-mobile">
      <div class="column background-primary-dark is-11 is-10-desktop">
        {{ range .Pages }}
        <div class="article pt-4 pb-5">
          <h2 class="is-size-3 is-underlined mb-2">
            <a href="{{ .URL }}">{{ .Title }}</a>
          </h2>

          <div class="tags has-addons">
            {{ if .Params.author }}
            <span class="tag is-rounded is-warning">{{ .Params.author }}</span>
            {{ end }}
            <span class="tag is-rounded">{{ if not .Date.IsZero -}}{{ .Date.Format "2006-01-02" }}{{ end }}</span>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>

{{ end }}
