{{ define "head" }}
{{ if .Params.author }}
  <meta name="author" content="{{ .Params.author }}">
{{ end }}
{{ end }}

{{ define "body" }}
<section class="container is-max-desktop">
  <div class="section mt-4">
    <section class="columns is-mobile">
      <div class="column background-primary-dark is-12 is-9-desktop">
        <article class="mx-3">
          <div class="content">
            <h1>{{ .Title }}</h1>
            <div class="tags has-addons">
              {{ if .Params.author }}
              <span class="tag is-rounded is-warning">{{ .Params.author }}</span>
              {{ end }}
              <span class="tag is-rounded">{{ if not .Date.IsZero -}}{{ .Date.Format "2006-01-02" }}{{ end }}</span>
            </div>
            {{ .Content | safeHTML }}
          </div>
        </article>
      </div>
    </section>
  </div>
</section>

{{ end }}
