Hello
{{ define "fullheight" }}
  <!-- TODO: render_landing -->
{{ end }}

{{ define "body" }}
<a id="register_client" style="font-size: 0"></a>

<section class="is-hidden-touch">
  <section id="client_desk_1" class="is-hero is-fullheight-with-navbar has-background-info has-text-light is-hidden-touch pt-6">
    
    <div class="tile is-ancestor mx-6">
      <div class="tile is-parent is-12 is-horizontal mb-3">
          <!-- <div class="tile is-child is-1"></div> -->
        <div class="tile is-child is-8 content">
          {{ .Params.welcome_page.text | safeHTML }}
        </div>
        <div class="tile is-parent is-vertical is-4 content has-text-centered pb-0">
          <div class="tile is-child"></div>
          <div class="tile is-child">
            <p class="subtitle is-size-4 mb-3">
              Know what you need?
            </p>
            <div class="has-text-centered">
              <a class="button is-warning has-background-warning-dark is-rounded is-large" href="#signup">
                <span class="is-size-4">
                  Get in Touch
                </span>
              </a>
            </div> 
          </div>
        </div>
      </div>
    </div>
 
    <div class="columns mx-6">
      <div class="column is-2">
        <hr style="border: 1px solid;" class="new subtitle">
      </div>
      <div class="subtitle is-italic is-size-5 pt-5 mx-5">
        Learn More About Us...
      </div>
      <div class="column">
        <hr style="border: 1px solid;" class="new subtitle">
      </div>
    </div>
    
    <div class="columns mx-6 my-0">
      {% for i in range(3) %}
        <div class="column">
          { client_title(i) }}
        </div> 
      {% endfor %}
    </div>
    <div class="columns mx-6 my-0">
      {% for i in range(3) %}
        <div class="column">
          { client_icon(i, 0) }}
        </div> 
      {% endfor %}
    </div>
    <div class="columns mx-6 my-0">
      {% for i in range(3) %}
        <div class="column">
          <b>{ client_blurb_title(i) }}</b>
        </div> 
      {% endfor %}
    </div>
    <div class="columns mx-6 my-0">
      {% for i in range(3) %}
        <div class="column">
          { client_blurb(i) }}
        </div> 
      {% endfor %}
    </div>

    <div class="has-text-centered pb-1">
      <a href="#client_desk_2" class="title is-2 fas fa-chevron-down has-text-light"></a>
    </div>

  </section>

  <section id="client_desk_2" class="is-hero has-background-light pt-6 pb-0">
    <div class="tile is-ancestor mx-6">
      
      <div class="tile is-parent is-vertical">
        <div class="tile is-parent is-horizontal">
          <div class="tile is-child is-6"> 
            { client_title(3)}}
            <div class="has-text-info">
              { client_icon(3, 0) }}
            </div>
            <b>{ client_blurb_title(3) }}</b>
            <br>
            { client_blurb(3) }}
          </div>
          <div class="tile is-parent is-vertical is-6">
            <div class="tile is-child is-12">
              <div class="is-square-image-128x128"></div>
            </div>    
            <div class="tile is-child is-12"> 
              { client_title(4) }}
              <div class="has-text-info">
                { client_icon(4, 0) }}
              </div>
              <b>{ client_blurb_title(4) }}</b>
              <br>
              { client_blurb(4) }}
            </div>
          </div>
        </div>
        <div class="tile is-child is-12">
          <h1 class="title mb-3 is-size-1 has-text-dark">Oxbridge-based Software
  Solutions <br>for Researchers</h1>
        </div>
      </div>
      <div class="tile is-parent is-vertical is-4">
        {% if has_number %}
        <p class="title is-size-1 is-pulled-right has-text-dark" style="text-align:right">Interested? Call:<br>
          <span class="is-pulled-right is-size-2 mb-3" style="white-space:nowrap">{ call_number() }}</span>
        </p>            
        {% endif %}
        <div class="tile is-parent is-12">
          <div class="tile is-parent is-12 is-vertical">          
            <div class="tile is-child is-12 mt-6">           
              <div class="has-text-info">
                { client_icon(5, 0) }}
              </div>
              { client_title(5)}}
              <b>{ client_blurb_title(i) }}</b>
              <br>
              { client_blurb(5) }}
            </div>
            <div class="tile is-child is-12 has-text-centered">
              <p class="is-size-5 mb-3"><i>Oxbridge based, freelance powered.</i></p>
                <a class="button is-warning is-rounded has-background-warning-dark" href="#signup">Enquire Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="has-text-centered pb-1">
      <a href="#signup" class="title is-2 fas fa-chevron-down has-text-info"></a>
    </div>
  </section>
</section>

<!-- TODO: mobile part of site -->
{{ end }}
