{{ define "fullheight" }}
<div class="hero-body px-0 py-0" style="background-image: linear-gradient(white 15%, #c9ffff 80%); background-size:cover; background-position:top; display:flex; flex-direction:column">
  <div style="flex:1; display:flex; flex-direction:column; width:100%">

    <div style="flex:3; display:flex; flex-direction:column;">
      <div class="columns is-mobile is-centered is-vcentered" style="flex:1">
        <div class="column is-three-quarters-mobile is-half-tablet is-half-desktop is-half-widescreen is-one-third-fullhd has-text-centered mt-6">
          <figure class="image has-text-centered">
            <img src="/assets/images/logos/extended_logo.svg" alt="Bringing programming talent to your research" style="width:100%;">
          </figure>
        </div>
      </div>
    </div>
    <div class="is-hidden-desktop mt-4"></div>
    <div class="is-hidden-mobile mt-6 pt-5"></div>
    <div style="flex:1; display:flex; flex-direction:column;" class="has-text-centered">
      <p class="is-size-5 mb-4 has-text-shadowed has-text-white">Are You...</p>
      <div class="columns is-mobile is-centered">
        <div class="column is-5 is-10-mobile">
          <div class="columns is-centered">
            <div class="column is-narrow has-equal-height">
              <a href="/our_services#register_client">
                <button class="button is-medium is-warning is-box-button has-text-shadowed is-rounded">
                  <p>A Researcher</p>
                </button>
              </a>
            </div>
            <div class="column is-narrow has-equal-height">
              <a href="develop_with_us#register_developer">
                <button class="button is-medium is-primary is-box-button has-text-shadowed is-rounded">
                  <p>A Developer</p>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

		<div class="is-hidden-touch" style="background-image: url('/assets/images/backgrounds/oxford_skyline_full.svg'); background-position: bottom; background-repeat: repeat-x; background-size: contain; height: 200px">
		</div>
		<div class="is-hidden-desktop" style="background-image: url('/assets/images/backgrounds/oxford_skyline_full.svg'); background-position: bottom left; background-repeat: repeat-x; background-size: cover; height: 200px">
		</div>
    <div class="has-text-centered pb-1" style="margin-top: -50px">
      <a href="#register_client" class="title is-2 fas fa-chevron-down has-text-white"></a>
    </div>
	</div>
</div>
{{ end }}

{{ define "body" }}
<section id="page_1" class="section is-fullwidth is-medium has-background-info pt-6 pb-1 px-6">
  <div class="columns">
    <div class="column is-7-fullhd is-9-widescreen is-10-desktop has-text-light">
      <h1 class="title has-text-light">Welcome to Dreaming Spires</h1>
      <p class="subtitle has-text-primary is-italic">Bringing Programming Talent to Your Research</p>
      <div class="columns">
        <div class="column is-1 is-hidden-mobile"></div>
        <div class="column">
          {{ range .Params.welcome_page.text }}
            <p>{{ . }}</p><br>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  <div class="is-hidden-mobile mt-6"></div>
  <div class="columns is-centered">
    <div class="column is-9 is-11-tablet">
      <div class="columns">
        <div class="column is-half has-equal-height has-text-light">
          <p class="is-size-5 has-text-weight-semibold">Perfect for Researchers...</p>

          {{ range .Params.welcome_page.researcher_reasons }}
          <p class="has-text-left py-3">
            <span class="icon has-text-warning">
              <i class="fas fa-check"></i>
            </span>
            {{ . }}
          </p>
          {{ end }}

          <div class="is-hidden-mobile mt-6"></div>
          <div class="columns is-mobile is-centered">
            <div class="column is-narrow has-text-centered">
              <p class="has-text-centered pt-4">Find out more as...</p>
              <a class="pt-2" href="./our_services#register_client">
                <button class="button is-normal is-warning has-background-warning-dark is-rounded is-fullwidth">
                  <p>A Researcher</p>
                </button>
              </a>
            </div>
          </div>
        </div>
        <div class="column is-half has-equal-height has-text-light">
          <p class="is-size-5 has-text-weight-semibold">Ideal for Developers...</p>

          {{ range .Params.welcome_page.developer_reasons }}
          <p class="has-text-left py-3">
            <span class="icon has-text-primary">
              <i class="fas fa-check"></i>
            </span>
            {{ . }}
          </p>
          {{ end }}

          <div class="is-hidden-mobile mt-6"></div>
          <div class="columns is-mobile is-centered">
            <div class="column is-narrow has-text-centered">
              <p class="has-text-centered pt-4">Find out more as...</p>
              <a class="pt-2" href="./develop_with_us#register_developer">
                <button class="button is-normal is-primary has-background-primary-dark is-rounded is-fullwidth">
                  <p>A Developer</p>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="is-hidden-mobile mt-5"></div>
  <div class="has-text-centered">
    <a href="#page_2" class="title is-2 fas fa-chevron-down has-text-white"></a>
  </div>
</section>

<section id="page_2" class="section is-fullwidth is-medium has-background-light pt-6 pb-0 px-6">
  <div class="column">
    <h1 class="title has-text-dark">Our Development Process</h1>
    <p class="subtitle has-text-primary is-italic">The Unique Dreaming Spires Model</p>
  </div>

	<!-- Mobile timeline -->
	<div class="columns is-centered is-hidden-tablet mt-2">
		<div class="column is-11">
  		{{ range $entry := .Params.timeline }}
        <div class="columns is-mobile is-vcentered">
          <div class="column is-3 has-text-centered">
            <span class="icon is-large" style="color: {{ index $entry "colour" }}">
              <i class="fas fa-3x {{ index $entry "logo" }}"></i>
            </span>
          </div>
          <div class="column is-9">
            {{ index $entry "text" | safeHTML }}
          </div>
        </div>
  		{{ end }}
		</div>
	</div>

	<!-- Desktop timeline -->
	<div class="columns is-centered is-hidden-mobile">
		<div class="column is-11-tablet is-10-desktop is-9-widescreen is-9-fullhd">
      <div style="display: grid; align-items: center; grid-template-columns: repeat(12, 1fr); grid-auto-rows: 1fr">
        {{ range $index, $entry := .Params.timeline }}
          {{ if (eq (math.Mod $index 2) 1) }}
            <div style="grid-column-end: span 5">
            </div>
            <div style="grid-column-end: span 2" class="has-text-centered">
              <span class="icon is-large" style="color: {{ index $entry "colour" }}">
                <i class="fas fa-3x {{ index $entry "logo" }}"></i>
              </span>
            </div>
            <div style="grid-column-end: span 5">
              {{ index $entry "text" | safeHTML }}
            </div>
          {{ else }}
            <div style="grid-column-end: span 5">
              {{ index $entry "text" | safeHTML }}
            </div>
            <div style="grid-column-end: span 2" class="has-text-centered">
              <span class="icon is-large" style="color: {{ index $entry "colour" }}">
                <i class="fas fa-3x {{ index $entry "logo" }}"></i>
              </span>
            </div>
            <div style="grid-column-end: span 5">
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
  <div class="has-text-centered">
    <a href="#signup" class="title is-2 fas fa-chevron-down has-text-info"></a>
  </div>
</section>

<section id="signup" class="section is-fullwidth is-medium has-background-info has-text-light py-6">
	<div class="columns">
		<div class="column is-half">
      <div class="columns is-centered">
        <div class="column is-11-tablet is-10-desktop is-7-widescreen is-7-fullhd">
          <h1 class="title is-size-1 has-text-light">GET IN TOUCH!</h1>
          <p>
             Whether you’re beginning to wonder how computation would aid your research, or already have a fully-planned specification, we’d love to hear from you. Our consultants will be happy to discuss the ways in which your research could be accelerated by introducing programming talent.
          </p>
          <div class="has-text-centered is-hidden-mobile mt-6">
            <img src="/assets/images/icons/megaphone_light.svg" style="width:90%;">
          </div>
        </div>
      </div>
    </div>
		<div class="column is-half">
      <div class="columns is-centered">
        <div class="column is-11-tablet is-10-desktop is-10-widescreen is-10-fullhd pt-6">
          <h3>Contact us at:</h3>
          <h4><a href="mailto:contact@dreamingspires.dev">contact@dreamingspires.dev</a></h4>
          <p class="is-size-7 is-italic">
          At Dreaming Spires, we take your data seriously.  Any data you give us will be handled according to our <a href="/privacy_policy">privacy policy</a>.
          </p>
        </div>
      </div>
		</div>
	</div>
</section>


{{ end }}
