{{ define "fullheight" }}
<div class="hero-body px-0 py-0 is-flex is-flex-direction-column" style="background-image: linear-gradient(white 15%, #c9ffff 80%); background-size:cover; background-position:top;">
  <div class="section mt-4 mb-0">
    <div class="columns is-mobile is-centered">
      <div class="column is-11-mobile is-three-quarters-tablet is-two-thirds-desktop is-half-widescreen is-5-fullhd has-text-centered">
        <figure class="image has-text-centered is-fullwidth">
          <img src="/assets/images/logos/extended_logo.svg" alt="Bringing software solutions to your research">
        </figure>
      </div>
    </div>
  </div>
  <div class="is-hidden-touch mt-3 pt-3"></div>
  <div class="is-hidden-touch" style="background-image: url('/assets/images/backgrounds/oxford_skyline_full.svg'); background-position: bottom; background-repeat: repeat-x; background-size: contain; height: 200px">
  </div>
  <div class="is-hidden-desktop" style="background-image: url('/assets/images/backgrounds/oxford_skyline_full.svg'); background-position: bottom left; background-repeat: repeat-x; background-size: cover; height: 200px">
  </div>

</div>
<!-- Desktop slider -->
<div class="black-back is-hidden-touch">
  <logo-slider>  
    <div>
      {{ range .Params.welcome_page.carousel }}
      <img src={{ .asset }}>
      {{ end }}
      {{ range .Params.welcome_page.carousel }}
      <img src={{ .asset }}>
      {{ end }}
    </div>
  </logo-slider>
</div>
<!-- Mobile slider -->
<div class="black-back is-hidden-desktop">
  <logo-slider-mobile>  
    <div>
      {{ range .Params.welcome_page.carousel }}
      <img src={{ .asset }}>
      {{ end }}
      {{ range .Params.welcome_page.carousel }}
      <img src={{ .asset }}>
      {{ end }}
    </div>
  </logo-slider-mobile>
</div>
<div class="has-text-centered pb-1" style="margin-top: -10px; background-color: black;">
  <a href="#page_1" class="title is-2 fas fa-chevron-down has-text-white"></a>
</div>
{{ end }}

{{ define "body" }}
<section id="page_1" class="section is-fullwidth is-medium has-background-info pt-6 pb-1 px-6">
  <div class="block has-text-light">
    <h1 class="title is-1 has-text-light">Welcome to Dreaming Spires</h1>
    <p class="subtitle is-3 has-text-primary is-italic">Bringing Software Solutions to Your Research</p>
    <div class="content is-size-5">
      {{ range .Params.welcome_page.text }}
        <p>{{ . | safeHTML }}</p>
      {{ end }}
    </div>
  </div>

  <div class="content is-size-5">
    <div class="container is-max-widescreen">
      <div class="columns is-desktop">
        <div class="column has-text-light">
          <div class="columns is-centered">
            <div class="column is-10-widescreen">
              <div class="is-flex is-flex-direction-column is-flex-wrap-nowrap">
                <p class="is-size-4 has-text-weight-semibold">We work flexibly to your needs</p>
                {{ range .Params.welcome_page.ways_we_work }}
                <div class="columns is-mobile">
                  <div class="column is-narrow">
                    <span class="icon has-text-primary">
                      <i class="fas fa-check"></i>
                    </span>
                  </div>
                  <div class="column">
                    <p class="has-text-left">
                      {{ . }}
                    </p>
                  </div>
                </div>
                {{ end }}
              </div>
            </div>
          </div>
        </div>
        <div class="column is-1 is-2-fullhd"></div>
        <div class="column has-text-light">
          <div class="columns is-centered">
            <div class="column is-10-widescreen">
              <div class="is-flex is-flex-direction-column is-flex-wrap-nowrap">
                <p class="is-size-4 has-text-weight-semibold">Our Specialisms</p>
                {{ range .Params.welcome_page.specialisms }}
                <div class="columns is-mobile">
                  <div class="column is-narrow">
                    <span class="icon has-text-warning">
                      <i class="fas fa-check"></i>
                    </span>
                  </div>
                  <div class="column">
                    <p class="has-text-left mb-0">
                      {{ .name }}
                    </p>
                    <i><a class="has-text-primary is-underlined" href={{ .link }}>({{ .link_text }})</a></i>
                  </div>
                </div>
                {{ end }}
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="is-hidden-mobile mt-5"></div>
  <div class="has-text-centered py-4">
    <a href="#page_2" class="title is-2 fas fa-chevron-down has-text-white"></a>
  </div>
</section>

<section id="page_2" class="section is-fullwidth is-medium has-background-light pt-6 pb-0 px-6">
  <div class="block has-text-centered mb-6">
    <h1 class="title is-2 has-text-dark">Project Highlights</h1>
    <p class="subtitle is-4 has-text-primary is-italic">Some of our previous projects</p>
  </div>
  <!-- Desktop highlights -->
  <div class="is-hidden-mobile is-hidden-touch">
    <div class="tile is-vertical">
      <div class="tile is-horizontal">
        {{ range .Params.highlights }}
        <div class="tile is-parent">
          <h2 style="word-break: normal" class="title has-text-weight-light mb-0 pb-0">
            {{ .title }}
          </h2>
        </div>
        {{ end }}
      </div>
      <div class="tile is-horizontal">
        {{ range .Params.highlights }}
        <div class="tile is-parent">
          <div class="tile is-child">
            <h3 style="word-break: normal" class="subtitle is-italic">{{ .subtitle }}</h3>
            <div class="has-text-info">
              <div class="level">
                <div class="level-item">
                  <i class="fas {{ .iconname }} fa-8x fa-centered mb-3"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
      <div class="tile is-horizontal">
        {{ range .Params.highlights }}
        <div class="tile is-parent">
          <div class="tile is-child">
            {{ .textcontent | safeHTML }}
            <a href={{ .seemorelink }}>See more...</a>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
  <!-- Mobile highlights -->
  <div class="is-hidden-desktop">
    {{ range .Params.highlights }}
    <div>
      <h2 style="word-break: normal" class="title has-text-weight-light">
        {{ .title }}
      </h2>
      <h3 style="word-break: normal" class="subtitle is-italic">{{ .subtitle }}</h3>
      <div class="has-text-info">
        <div class="level">
          <div class="level-item">
            <i class="fas {{ .iconname }} fa-5x fa-centered mb-3"></i>
          </div>
        </div>
      </div>
      <div class="py-3">{{ .textcontent | safeHTML }}</div>
    </div>
    {{ end }}
  </div>

  <div class="has-text-centered py-4">
    <a href="#signup" class="title is-2 fas fa-chevron-down has-text-info"></a>
  </div>
</section>

{{ partial "signup.html" . | safeHTML }}
{{ end }}
