{{ define "fullheight" }}
<div class="hero-body px-0 py-0 is-flex is-flex-direction-column" style="background-image: linear-gradient(white 15%, #c9ffff 80%); background-size:cover; background-position:top;">
  <div class="section">
    <div class="columns is-mobile is-centered">
      <div class="column is-three-quarters-mobile is-half-tablet is-half-desktop is-half-widescreen is-one-third-fullhd has-text-centered">
        <figure class="image has-text-centered is-fullwidth">
          <img src="/assets/images/logos/extended_logo.svg" alt="Bringing programming talent to your research">
        </figure>
      </div>
    </div>
  </div>
  <div class="is-hidden-touch mt-6 pt-5"></div>
  <div class="container is-size-4 is-size-3-widescreen">
    <p class="mb-4 has-text-black has-text-centered">Are You...</p>

    <!-- Buttons on touch devices - medium sizes -->
    <div class="columns is-hidden-desktop">
      <div class="column is-full-mobile is-half-tablet">
        <a href="our_services#register_client" class="button is-medium is-warning has-text-white is-rounded is-fullwidth">
          A Researcher
        </a>
      </div>
      <div class="column is-full-mobile is-half-tablet">
        <a href="develop_with_us#register_developer" class="button is-medium is-primary has-text-black is-rounded is-fullwidth">
          A Developer
        </a>
      </div>
    </div>

    <!-- Buttons on desktop devices - medium sizes -->
    <div class="columns is-hidden-touch">
      <div class="column is-full-mobile is-half-tablet">
        <a href="our_services#register_client" class="button is-large is-warning has-text-white is-rounded is-fullwidth">
          A Researcher
        </a>
      </div>
      <div class="column is-full-mobile is-half-tablet">
        <a href="develop_with_us#register_developer" class="button is-large is-primary has-text-black is-rounded is-fullwidth">
          A Developer
        </a>
      </div>
    </div>

  </div>
  <div class="is-hidden-touch" style="background-image: url('/assets/images/backgrounds/oxford_skyline_full.svg'); background-position: bottom; background-repeat: repeat-x; background-size: contain; height: 200px">
  </div>
  <div class="is-hidden-desktop" style="background-image: url('/assets/images/backgrounds/oxford_skyline_full.svg'); background-position: bottom left; background-repeat: repeat-x; background-size: cover; height: 200px">
  </div>
  <div class="has-text-centered pb-1" style="margin-top: -50px">
    <a href="#page_1" class="title is-2 fas fa-chevron-down has-text-white"></a>
  </div>
</div>
{{ end }}

{{ define "body" }}
<section id="page_1" class="section is-fullwidth is-medium has-background-info pt-6 pb-1 px-6">
  <div class="block has-text-light">
    <h1 class="title is-1 has-text-light">Welcome to Dreaming Spires</h1>
    <p class="subtitle is-3 has-text-primary is-italic">Bringing Programming Talent to Your Research</p>
    <div class="content is-size-5">
      {{ range .Params.welcome_page.text }}
        <p>{{ . }}</p><br>
      {{ end }}
    </div>
  </div>

  <div class="content is-size-5">
    <div class="container is-max-widescreen">
      <div class="columns is-desktop">
        <div class="column has-text-light">
          <div class="columns is-centered">
            <div class="column is-10-widescreen">
              <div class="is-flex is-flex-direction-column is-flex-wrap-nowrap">
                <p class="is-size-5 has-text-weight-semibold">Perfect for Researchers...</p>
                {{ range .Params.welcome_page.researcher_reasons }}
                <div class="columns is-mobile">
                  <div class="column is-narrow">
                    <span class="icon has-text-warning">
                      <i class="fas fa-check"></i>
                    </span>
                  </div>
                  <div class="column">
                    <p class="has-text-left">
                      {{ . }}
                    </p>
                  </div>
                </div>
                {{ end }}
                <p class="has-text-centered pt-4">Find out more as...</p>
                <a  href="./our_services#register_client" class="is-align-self-center button is-medium is-warning has-background-warning-dark is-rounded">
                  A Researcher
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-1 is-2-fullhd"></div>
        <div class="column has-text-light">
          <div class="columns is-centered">
            <div class="column is-10-widescreen">
              <div class="is-flex is-flex-direction-column is-flex-wrap-nowrap">
                <p class="is-size-5 has-text-weight-semibold">Ideal for Developers...</p>
                {{ range .Params.welcome_page.developer_reasons }}
                <div class="columns is-mobile">
                  <div class="column is-narrow">
                    <span class="icon has-text-primary">
                      <i class="fas fa-check"></i>
                    </span>
                  </div>
                  <div class="column">
                    <p class="has-text-left">
                      {{ . }}
                    </p>
                  </div>
                </div>
                {{ end }}

                <p class="has-text-centered pt-4">Find out more as...</p>
                <a href="./develop_with_us#register_developer" class="is-align-self-center button is-medium is-primary has-text-black has-background-primary-dark is-rounded">
                  A Developer
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="is-hidden-mobile mt-5"></div>
  <div class="has-text-centered py-4">
    <a href="#page_2" class="title is-2 fas fa-chevron-down has-text-white"></a>
  </div>
</section>

<section id="page_2" class="section is-fullwidth is-medium has-background-light pt-6 pb-0 px-6">
  <div class="block">
    <h1 class="title is-2 has-text-dark">Our Development Process</h1>
    <p class="subtitle is-4 has-text-primary is-italic">The Unique Dreaming Spires Model</p>
  </div>

	<!-- Mobile timeline -->
  <div class="content">
    <div class="columns is-centered is-hidden-desktop mt-2">
      <div class="column is-11">
        {{ range $entry := .Params.timeline }}
          <div class="columns is-mobile is-vcentered">
            <div class="column is-3 has-text-centered">
              <span class="icon is-large" style="color: {{ index $entry "colour" }}">
                <i class="fas fa-3x {{ index $entry "logo" }}"></i>
              </span>
            </div>
            <div class="column is-9">
              {{ index $entry "text" | safeHTML }}
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </div>


	<!-- Desktop timeline -->
  <div class="content is-size-5">
    <div class="container is-hidden-touch">
      <div style="display: grid; align-items: center; grid-template-columns: repeat(12, 1fr); grid-auto-rows: 1fr;">
        {{ range $index, $entry := .Params.timeline }}
          {{ if (eq (math.Mod $index 2) 1) }}
            <div style="grid-column-end: span 5">
            </div>
            <div style="grid-column-end: span 2" class="has-text-centered">
              <span class="icon is-large" style="color: {{ index $entry "colour" }}">
                <i class="fas fa-3x {{ index $entry "logo" }}"></i>
              </span>
            </div>
            <div style="grid-column-end: span 5">
              {{ index $entry "text" | safeHTML }}
            </div>
          {{ else }}
            <div style="grid-column-end: span 5">
              {{ index $entry "text" | safeHTML }}
            </div>
            <div style="grid-column-end: span 2" class="has-text-centered">
              <span class="icon is-large" style="color: {{ index $entry "colour" }}">
                <i class="fas fa-3x {{ index $entry "logo" }}"></i>
              </span>
            </div>
            <div style="grid-column-end: span 5">
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>

  <div class="has-text-centered py-4">
    <a href="#signup" class="title is-2 fas fa-chevron-down has-text-info"></a>
  </div>
</section>

{{ partial "signup.html" . | safeHTML }}
{{ end }}
