{{ define "fullheight" }}
  {{ partial "landing.html" "" | safeHTML }}
{{ end }}

{{ define "body" }}
<section id="header" class="section has-background-info has-text-light">
  <div class="columns px-3">
    <div class="column is-8">
      <h1 class="has-text-light title is-3">Our Story</h1>
      <p class="subtitle is-5 subtitle-on-dark has-text-weight-normal is-italic">A short history of the growth and development of Dreaming Spires</p>
    </div>
  </div>
</section>

<section id="timeline_section" class="section is-fullwidth is-medium has-background-light pt-6 pb-0 px-6">
	<!-- Mobile timeline -->
  <div class="content">
    <div class="columns is-centered is-hidden-widescreen mt-2">
      <div class="column is-11">
        {{ range $index, $entry := .Params.timeline }}
        {{ range $subindex, $subentry := $entry.details }}
          <div class="columns is-mobile is-vcentered mb-5">
            <div class="column is-3 has-text-centered">
              <span class="icon is-large" style="color: {{ .colour }}">
                <i class="fas fa-3x {{ .logo }}"></i>
              </span>
            </div>
            <div class="column is-9">
              <h2 class="subtitle is-3 has-text-weight-semibold mb-2">
                {{ .title }}
              </h2>
              <p>
                {{ .text }}
              </p>
            </div>
          </div>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>

  <!-- Desktop timeline -->
  <div class="content is-size-5 is-hidden-touch is-hidden-desktop-only">
    <div class="container is-max-widescreen">
      <div id="timeline">
        {{ $maxindex := -1 }}
        {{ $colmaxgrid:= 1}}
        {{ range $newindex, $item := .Params.timeline }}
        {{ range $subindex, $entry := $item.details }}
          {{ $maxindex = (math.Add $maxindex 1)}}
        {{ end }}
        {{ end }}
        {{ $index := 0 }}
        {{ range $newindex, $item := .Params.timeline }}
        <div class="py-2 px-6" style="grid-column: 2 / 3; grid-row: {{ math.Add (math.Mul $index 3) 1 }} / {{ math.Add (math.Mul $index 3) 2 }}" class="has-text-centered">
          <span class="is-size-1" style="font-family: 'Impact', 'Anton', 'Arial Narrow Bold', sans-serif; color: {{ index $item "colour" }}">{{ $item.year }}</span>
        </div>
        {{ $colmaxgrid = (math.Add (math.Mul (len $item.details) 3) $colmaxgrid)}}
        <div class="px-6" style="grid-column: 2 / 3; grid-row: {{ math.Add (math.Mul $index 3) 2 }} / {{ $colmaxgrid }};">
          {{ if (ne $index $maxindex) }}
          <div style="border-left: 1px solid {{ index $item "colour" }}; border-right: 1px solid  {{ index $item "colour" }}; width: 0%; height: 100%; min-height: 6rem;"></div>
          {{ else }}
          <div style="width: 0%; height: 100%; min-height: 6rem;"></div>
          {{ end }}
        </div>
        {{ range $subindex, $entry := $item.details }}
          {{ if (eq (math.Mod $index 2) 1) }}
          <div class="box p-5 mb-6 arrow arrow--right" style="grid-column: 1 / 2; grid-row: {{ math.Add (math.Mul $index 3) 1 }} / {{ math.Add (math.Mul $index 3) 6 }}; background-color: {{ index $entry "colour" }}">
          {{ else }}
          <div class="box p-5 mb-6 arrow arrow--left" style="grid-column: 3 / 4; grid-row: {{ math.Add (math.Mul $index 3) 1 }} / {{ math.Add (math.Mul $index 3) 6 }}; background-color: {{ index $entry "colour" }}">
          {{ end }}
            <div class="block pb-6">
              <div class="is-inline-flex is-align-items-center is-size-4-desktop is-size-3-widescreen has-text-light has-text-weight-semibold mb-4">
                <i class="fas {{ index $entry "logo" }}"></i>
                <p class="ml-5 subtitle is-size-4-desktop is-size-3-widescreen  has-text-light has-text-weight-semibold">
                  {{ index $entry "title" | safeHTML }}
                </p>
              </div>
              <p class="has-text-light">
                {{ index $entry "text" | safeHTML }}
              </p>
            </div>
          </div>
          {{ $index = (math.Add $index 1)}}
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>

  <div class="has-text-centered py-4">
    <a href="#signup" class="title is-2 fas fa-chevron-down has-text-info"></a>
  </div>
</section>
{{ partial "signup.html" . | safeHTML }}

{{ end }}