@charset "utf-8";

@import "./node_modules/bulma/sass/utilities/initial-variables.sass";

$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$cyan: #53A4AB;
$cyan-light: #71C0F4;
$cyan-lighter: #B6DFF9;

$brand-blue-darker: #00878C;
$brand-blue-dark: #37A6AD;
$brand-blue: #65C8D0;
$brand-blue-alt: #53A4AB;

$brown: #AF5737;
$dark-brown: #5A0F0F;

$dark-brand-background: #0F4C5A;
$brand-dark: #0F4C5A;
$brand-cream: #F3EFEA;
$brand-backdrop: #CFCFCF;
$brand-warning: #D26D48;
$brand-warning-dark: #AF5737;
$brand-link: #999999;

//$tablet: 30px;
$tablet:	500px;
$desktop:	750px + (2 * $gap);

// Update Bulma's global variables
$primary: $brand-blue;
$primary-dark: $brand-blue-alt;
$info: $brand-dark;
$light: $brand-cream;
$info-light: $cyan-light;
$warning: $brand-warning;
$warning-dark: $brand-warning-dark;
$link: $brand-link;
$navbar-breakpoint: $tablet;
// $scheme-main: $dark-brand-background;
$scheme-main: $brand-blue-darker;

$input-background-color: hsl(0, 0%, 100%); // This is required for some reason as the input box styling is broken

// Other colour updates
$input-placeholder-color: hsl(0, 0%, 21%);

// Bulma import
@import "./node_modules/bulma/bulma.sass";
@import "./node_modules/@creativebulma/bulma-collapsible/src/sass/index.sass";

// Custom colours

//allows for dynamic coloring of titles
section.has-background-info .title,  section.has-background-info h1, section.has-background-info h2 , .label {
    color: $light;
}
section.has-background-light .title,  section.has-background-light h1, section.has-background-light h2{
    color: black;
}
//allows for dynamic colouring of subtitles
.has-background-info .subtitle,  .has-background-info h3 {
    color: #65C8D0;
}
section.has-background-light .subtitle,  section.has-background-light h3 {
    color: #53A4AB;
}
//allows for dynamic colouring of svgs
has-background-light > .fas, has-background-light > .fab {
    color: $info;
}

.has-background-backdrop {
    background-color: $brand-backdrop !important;
}

.subtitle-on-white {
    color: #53A4AB;
}

.subtitle-on-dark {
    color: #65C8D0;
}
section.has-background-light .subtitle.has-text-brown,  section.has-background-light .h3.has-text-brown{
    color: $brown;
}
.has-text-dark-brown {
    color: $dark-brown;
}
.box {
    color: $light;
}
// Custom styles
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
	overflow-x: hidden;
}

.navbar {
    background-color: $brand-dark;
}


// fixes floating footer issue
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
// This seems to be unused though
body > footer {
    margin-top: auto;
    min-height: calc(100px + 1rem);
}
//

.has-equal-height {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.is-bg-img {
    background-size: cover;
}

.is-box-button {
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.is-full-height {
    min-height: 100vh;
}
.is-fullheight-with-footer-and-navbar {
    min-height: calc(100vh - 3.25rem - 132px);
}

.is-square-image-128x128 {
    width: 128px;
    height: 128px;
    object-fit: cover;
}

.has-box-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.has-box-shadow-x {
    box-shadow: 13px 0 5px -2px rgba(0, 0, 0, 0.19), -13px 0 5px -2px rgba(0, 0, 0, 0.19);
}

.has-text-shadowed {
    text-shadow: 1px 1px 10px black;
}

// Thicker navbar-burger
.navbar-burger > span {
    height: 2px;
}

.fa-rotate-335 {
    transform: rotate(335deg) translateY(-10%);
}

.modal a {
    color: $warning;
}

.delete, .modal-close {
	position: fixed;
}
.modal-content, .modal-card {
	width: auto;
}

#mobileModal.modal-content {
    max-height: 500px;
}

// Make headers have their usual meaning
h1, h2, h3, h4, h5, h6 {
    @extend .title;
}
h1 {
    @extend .is-1;
}
h2 {
    @extend .is-2;
}
h3 {
    @extend .is-3;
}
h4 {
    @extend .is-4;
}
h5 {
    @extend .is-5;
}

ul {
    list-style-type: disc;
    list-style-position: inside;
}

// Timeline specific CSS
@font-face {
    font-family: Anton;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Anton'), url(https://fonts.gstatic.com/s/anton/v23/1Ptgg87LROyAm3K8-C8QSw.woff2) format('woff2') ;
}
/* vietnamese */
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Anton'), url(https://fonts.gstatic.com/s/anton/v23/1Ptgg87LROyAm3K8-C8QSw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Anton'), url(https://fonts.gstatic.com/s/anton/v23/1Ptgg87LROyAm3K8-C8QSw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Anton'), url(https://fonts.gstatic.com/s/anton/v23/1Ptgg87LROyAm3K8-C8QSw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#timeline {
    display: grid;
    gap: 0 0.5rem;
    justify-items: center;
    grid-auto-rows: auto;
    grid-template-columns: 1fr auto 1fr;
}

.arrow {
    position: relative;
}
.arrow::after {
    position: absolute;
    padding-top: inherit;
    padding-bottom: inherit;
    top: 0;
    width: 2.0rem;
    height: 100%;
    background: inherit;
}
.arrow.arrow--left::after {
    left: -1.75rem;
    clip-path: polygon(2.0rem 0, 2.0rem 1.25rem, 0 2.5rem, 2.0rem 3.75rem, 2.0rem 100%);
    content: "";
}
.arrow.arrow--right::after {
    right: -1.75rem;
    clip-path: polygon(0 0, 0 1.25rem, 2rem 2.5rem, 0rem 3.75rem, 0rem 100%);
    content: "";
}

.is-transparent {
    color: transparent !important;
}
.has-background-transparent {
    background: transparent !important;
}
.is-testimonial-text {
    font-size: 26px;
}

.circle-image-container {
    max-width: 300px;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.circle-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.circle-image-container-mobile {
    max-width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.circle-image-container-mobile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mobile-info {
    max-width: 400px;
    margin: auto;
}

.auto-margin {
    margin: auto;
}
.black-back {
    background-color: black;
    margin-top: -45px;
}
logo-slider {
    $slider-duration  : 20s;
    $slider-gap       : 100px;
    $slider-min-width : 320;
    $slider-max-width : 1920;
    
    overflow: hidden;
    max-width: 1920px;
    min-width : 320px;
    width: 100%;
      display: flex;
    padding-block:20px;
    
    @keyframes marquee {
        0%   { transform: translateX(0%); }
        100% { transform: translateX(calc(-50% - 60px)); }
    }
  
    > div {
        display: flex;
        align-items: center;
        animation: marquee $slider-duration linear infinite;
        justify-content: space-between;
        gap:$slider-gap;
        img { 
            height:clamp(50%, 10vw, 100%);
            max-width:400px;
            max-height:100px;
            object-fit:contain;
            display:block;
        }
        a { 
            outline:1px solid white;
        }
        &:hover {
            animation-play-state: paused;
        }
    }
          
    @media (min-width:1920px) {
        -webkit-mask-image: linear-gradient(
            to right, 
            transparent, 
            white 10vw,
            white calc(100% - 10vw), 
            transparent
        );
    }
}